body {
    font-family:sans-serif;
    background-color: #f5f5f5;
    color: black;
    transition: background-color 0.2s;
}

.dark-mode {
    background-color: #101010;
    color: white;
    transition: background-color 0.2s;
}

p {
    display: inline-block;
    color: #6a6c6e;
    font-size: 1vw;
}

h1, p {
    margin: 0;
}

h1 {
    padding-bottom: 1%;
    font-size: 2vw;
}

a {
    text-decoration: none;
    color: #6a6c6e;
}

a:hover {
    opacity: 0.5;
}

a:not(:hover) {
    transition: opacity 0.3s ease; 
}

button {
    transform: translateY(-23%);
    padding: 0;
    border: none;
    background: none;
}

svg {
    vertical-align: middle;
    height: 24px;
    width: 24px;
    fill: #6a6c6e;
    margin-right:10px;
    margin-top:10px;
    margin-bottom:10px;
}

ul {
    list-style-type: none;
    padding: 0;
    display: block;
  }

@media screen and (max-width: 800px) {
    .header, .about-me {
      width: 100%;
    }
}

.header {
    margin: auto;
    width: 30%;
    padding-top: 1%;
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 2%;
}

.about-me {
    width: 30%;
    margin: auto;
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeInDown 1s forwards;
}

.links {
    padding-top: 1%;
    margin: 0;
}

#toggle-dark {
    float: right;
}

#moon:hover {
    fill: black;
}

#sun:hover {
    fill: white;
}

#moon {
    animation: fadeInDown 0.3s forwards;
}

#sun {
    animation: fadeInDown 0.3s forwards;
}

@keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }